@media (max-width: 1350px) {

    .sec-three-text {
        margin-top: -34rem;
    }
}

@media (max-width: 1230px) {

    .sec-three-img>img {
        height: 52rem;
        object-fit: cover;

    }

    .sec-two {
        margin-top: 5rem;
    }

    .sec-four {
        margin-top: 20rem;
    }

    .flex-card {
        flex-wrap: wrap;
    }
}


@media (max-width: 930px) {

    .hero-text {
        height: 26rem;
        max-width: 98%;
        align-items: center;
    }

    .h-one>h1,
    .h-two>h1,
    .h-three>h1 {
        display: flex;
        align-items: center;
        font-size: 4rem;
        width: 100%;
        line-height: 1.1;
    }


    .h-two>h1 {
        text-indent: 0px;
    }

    .hero-category {
        flex-wrap: wrap;
        gap: 4rem;
        justify-content: space-evenly;
    }

    .sec-two {
        flex-direction: column;
    }

    .main-one {
        flex-direction: row;
        width: 100%;
        height: 15rem;
    }

    .main-two {
        width: 100%;
    }

    .main-two>h1 {
        justify-content: center;
    }

    .sec-three-text {
        width: 90%;
    }

    .sec-three-text>h1 {
        font-size: 3.5rem;
    }

    footer {
        max-width: 90%;
    }

    .social-link {
        width: 6rem;
    }
}

@media (max-width: 500px) {

    .sec-two {
        margin-top: 3rem;
    }

    .main-one {
        flex-wrap: wrap;
        justify-content: space-around;
        height: 24rem;
    }

    .main-two {
        margin-top: 2rem;
    }

    .main-two>h1 {
        font-size: 3.5rem !important;
    }

    .h-two > h1 {
        padding-left: 8rem;
    }

    .sec-four {
        margin-top: 15rem;
    }

    .sec-four>main>h1 {
        font-size: 3rem;
    }
}


@media (max-width: 470px) {

    .h-one>h1,
    .h-two>h1,
    .h-three>h1 {
        font-size: 3.2rem;
    }
}